@import "nib"

.avatar
  height 40px
  width 40px
  background-size 100% 100%
  display block
  background #aaa
  color #fff
  font-size 14px
  text-align center
  font-family "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif
  line-height 40px

  &.rounded
    border-radius 5px

  &.circle
    border-radius 50%

  &.large
    height 80px
    width 80px
    font-size 27px
    line-height 80px

  &.small
    height 30px
    width 30px
    font-size 12px
    line-height 30px
